html {
height: 100%;
width: 100%;
background-attachment: fixed;
font-family: serif;
background: linear-gradient(33deg, #FAA08C, #C0AFF5, #111111) no-repeat;
background-size: 100%;
background-attachment: fixed;
margin: 0px;
}
